.list-group-item{
    background-color: #333;
    outline: none;
    color: #fff;
    border: none;
    margin-bottom: 0.5rem;
}

.list-group-item:hover{
    background-color: #3f3f3f;
}

.list-group-item.active {
    background-color: #4d4b4b;
}

